<!DOCTYPE html>
<html>
<head>
    <title>Financer</title>
    <% include partials/home-head.ejs %>
</head>
<body>
    <div class = "banner-section ">
        <h1 class = "display-4 text-center wrapping"> Hey, <%= name %> !</h1>
    </div>

    <% include partials/home-scripts.ejs %>
</body>
</html>